@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Cute+Font&display=swap"); */
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Noto Sans KR", sans-serif;
  /* font-family: "Cute Font", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: #eeeeee92;
  /* margin-left: calc(50% - 300px); */
}

main {
  /* max-width: 600px;
  min-width: 350px;
  width: 100%; */
  background-color: white;
  height: calc(100vh - 60px);
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.post-list-loading {
  position: absolute;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  background-color: rgba(229, 229, 229, 0.5);
}

.post-list-loading svg {
  width: 50px;
  stroke: #5ed13e;
  animation: rotate 1s infinite;
}

footer {
  /* max-width: 600px;
  min-width: 350px;
  width: 100%; */
  height: 60px;
  background-color: white;
  z-index: 1000;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #eeeeee;
  /* box-shadow: 0px 0px 5px #5ed13e; */
  align-items: center;
}

@media screen and (max-width: 550px) {
  .post-list-loading,
  main,
  footer {
    min-width: 350px;
    width: 100%;
  }
}

@media screen and (min-width: 551px) {
  .post-list-loading,
  main,
  footer {
    width: 550px;
    margin-left: calc(50% - 275px);
  }
}
.postedit-title {
  text-align: left;
  text-indent: 10px;
  font-weight: bold;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
}

.postedit-textarea {
  width: calc(100% - 25px);
  margin: 10px;
  height: 100px;
  border: none;
  border: 1px solid #eeeeee;
}
.postedit-submit {
  display: block;
  width: 100%;
  height: 40px;
  font-weight: bold;
  color: white;
  background-color: #5ed13e;
  outline: none;
  font-size: 17px;
  border: none;
  width: calc(100% - 20px);
  margin-left: 10px;
}
.postedit-submit.loading {
  background-color: silver;
}

footer .nav-menu {
  cursor: pointer;
}

footer .nav-menu svg {
  width: 28px;
}
.post-page-wrapper {
  padding: 20px;
}

.post-list {
  white-space: nowrap;
  overflow: auto;
  height: calc(100vh - 60px - 80px);
}
.post-list::-webkit-scrollbar {
  width: 0px;
}

.post-item {
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #efefef;
  padding: 10px;
  font-size: 13px;
  box-shadow: 0px 0px 4px #e7e7e7;
  position: relative;
  height: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.post-item-date {
  float: right;
  font-size: 11px;
  background-color: #eeeeee;
  padding: 0px 3px;
  margin-top: -5px;
  margin-right: -5px;
  border-radius: 5px;
  color: gray;
  display: inline-block;
}
.post-item-reaction-wrapper {
  position: absolute;
  right: 5px;
  bottom: 0px;
}
.post-add-button {
  height: 40px;
  background-color: #6ddb4f;
  /* box-shadow: 0px 0px 5px #42d21a; */
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  color: white;
  margin-top: 8px;
  font-weight: bold;
}

.signin-form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 60px);
}
.signin-form-input {
  display: block;
  outline: none;
  border: none;
  font-size: 18px;
  border-bottom: 1px solid #eeeeee;
}
.signin-form-submit {
  display: block;
  background-color: #5ed13e;
  width: 190px;
  line-height: 30px;
  height: 30px;
  text-align: center;
  margin-top: 10px;
  color: white;
  font-weight: bold;
}
.signin-form-submit:active {
  border-bottom-color: #5ed13e;
}

/* Calendar */
.calendar-wrapper {
  width: calc(100% - 20px);
  margin-left: 10px;
}

.calendar-date-body {
  display: grid;
}

.calendar-date-body.day {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.calendar-date-body.month,
.calendar-date-body.year {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calendar-date-cell {
  border-top: 2px solid #eeeeee;
  margin: 0px 2px;
  height: 90px;
}
.calendar-date-cell > div {
  /* width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center; */
}
.calendar-date-cell.active {
  border-top-color: #74e655;
}
.calendar-date-cell.active > div {
  /* border-radius: 30px;
  background-color: #74e655; */
  color: #74e655;
}
.calendar-date-cell.today > div {
  /* border-radius: 30px; */
  /* background-color: #eeeeee; */
}

.calendar-date-cell.notmonth > div {
  color: silver;
}

.calendar-detail-wrapper {
}
.calendar-detail-header {
  width: calc(100% - 20px);
  margin-left: 10px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
}
.calendar-detail-item {
  font-size: 13px;
  width: calc(100% - 30px);
  margin-left: 10px;
  padding: 5px;
  margin-bottom: 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px silver;
}

.calendar-header {
  text-align: center;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
}

.date-cell-count {
  display: inline-block;
  font-size: 13px !important;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  background-color: #62d642;
  color: white !important;
  border-radius: 22px;
}
.calendar-detail-item-divider {
  display: inline-block;
  width: 5px !important;
  margin-right: 5px;
  height: 10px;
  background-color: rgb(89, 225, 59);
}
.calendar-detail-item-icon-wrapper {
  display: inline-block;
  vertical-align: middle;
  float: right;
}
.calendar-detail-item-icon-wrapper > svg {
  stroke: rgb(232, 100, 100);
  cursor: pointer;
}

.calendar-footer-planboard {
  width: 100%;
  border-top: 2px solid rgba(138, 248, 114, 0.662);
  padding-top: 5px;
  height: 90px;
  overflow-y: auto;
  white-space: nowrap;
}

.calendar-footer-planboard-item {
  font-size: 14px;
  width: calc(100% - 10px);
}

.calendar-footer-planboard-item-divider {
  display: inline-block;
  width: 5px !important;
  margin-right: 5px;
  height: 10px;
  background-color: rgb(89, 225, 59);
}
